div{
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  width: 30%;
  margin: 10px;
  /*float: left;*/
}

p {
  font-family: Helvetica;
}

.half {
  float: left;
}
.half:nth-child(3){
  float: none;
  clear: both;
}
.full{
  clear: right;
}
